html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
    }
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family:'Exo 2',sans-serif;

}
/* side bar  */
.hamburger-bar{
    flex: 1;
    display:flex;
    color:black;
    align-items: center;
    padding-left: 10px;
}


.side-bar{
    z-index: 10;
    position: fixed;
    left: -350px;
    width:300px;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: #e2e2e2;
    transition: all .5s ease;
}
.side-bar header{
    width: 260px;
    height: 60px;
    background: #e2e2e2;
}


.icon1{
    margin: 10px;
}

.side-bar ul a{
    display: block;
    line-height: 40px;
    padding-left: 20px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #42444a;
    transition: .5s;
    color:rgb(0, 0, 0);
}

#home1{
      border-top: 1px solid #42444a;
}
.home{
    width: 275px;
    height: 50px;
    margin-left: 10px;
} 


.side-bar ul li:hover a{
    background-color: rgb(255, 255, 255);
    padding-left: 60px;
}

.side-bar ul a i{
    margin-right: 16px;
}

#check{
    display:none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

#btn:hover{
    top: 22px;
}

#btn:hover .menu{
    opacity: 0%;
}

label #btn{
    left: 40px;
    top: 16px;
    font-size: 30px;
    color:rgb(255, 255, 255);
    transition: all 1s;
}
.menu{
    font-size: 8.5;
    color: white;
    transition: 1s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 35px;
    color:rgb(0, 0, 0);
    transition: all .5s;
    position: fixed;
}   

#check:checked ~.side-bar{
    left: 0px;
    
}


#check:checked ~label #btn{
    left: 250px;
    opacity: 0;
}
#check:checked ~label #cancel{
    left: 250px;
}

/* side bar  */

/* nav bar  */

.navbar{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: 'Exo 2',sans-serif;
}

.none{
    flex: 1.5;
}
.navbar-container{
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
}


.logo-container{
    flex:2;
   
}

.logo{

    font-family: 'Exo 2',sans-serif;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: flex-end;
}

.logo img{
    width: 30%;
    height: auto;
}

.menu-container{
    flex:6;
  
}

.menu-list{
    display:flex;
    list-style: none;  
    margin-left: 200px;
}

a{text-decoration: none}

a:visited{ color: white }

.menu-list-heading{
    margin: 20px;
    transition: .5s;
}
.menu-list-heading:hover{
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    border: 2px;
    border-style: solid;
    border-color: white;
}

.menu-list-heading{
    width: 120px;
    height: 40px;
    text-align: center;
}

.menu-list-heading a{
    line-height: 40px;
}

.home-icon{
    margin: 5px;
}
.movie-icon{
    margin: 5px;
}

.account-icon{
    margin: 5px;
}

/* nav bar  */



/* heading of body  */
.body{
    zoom: 75%;
}
.avatar-background {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0),#151515),url('background/topgun-bg.png');
    filter: blur(3px);
}

.intro-container{
    height: 550px;
}
.content-container{
    background-color: #151515;
    min-height: calc(100vh - 70px);
    color:rgb(255, 255, 255);

}

.avatar-background{
    height: 60vh;
    background-color: #151515;
    
}
.avatar-background-1{
    width: 100%;
}

.avatar-background-1 img{
    position: absolute;
    left: 790px;
    top: 165px;
}

.avatar-background-1 a{
    position: absolute;
    left: 710px;
    top: 480px; 
}

.avatar-background-1 h1{
    position: absolute;
    top: 210px;
    left: 220px;
}
.avatar-background-1 h1{
    font-family: "Avenir Next",Helvetica,arial,sans-serif;
    font-size: 52;
    font-weight: bolder;
    line-height: 3.5rem;
    width: 580px;
}

.avatar-background-logo{
    width: 300px;
    margin-left: 60px;
    background-color: rgba(62, 81, 81, 0.16);
}


.avatar-background-trailer{
  
    background-color: rgb(255, 255, 255);
    color: #42444a;
    border-radius: 7px;
    padding: 8px 43px;
    border: 1.3px;
    width: 200px;
    height: 40px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    margin-left: 80px;
    font-size: 13;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}
.avatar-background-trailer:hover{
    background-color: rgba(211, 213, 215, 0.352);
    color: #ffffff;
}

.movie-list-display-image{
    width: 200px;
    height: 296px;
    object-fit: cover;
    transition: all .7s ease-out;
}
/* heading of body  */

/* Select time  *


.line1{
    height: 0.5px;
    background-color: #D8D8D8;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.dropdown{
    margin-left: 200px;
    width: 300px;
    color: #151515;
}

.dropdown-select{
    width: 300px;
    padding: 10px;
    height: 30px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

* Select time */
/* Screen */
.screen{
    background-color: #f2f2f2;
    height: 350px;
    width: 550px;
    margin-left: 370px;
    margin-bottom: 30px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
}
/* Screen */
/* Seat */
.all-seat-container{
    height: 1050px;
    margin-top: 20px;
}
.select-seat-title{
    height: 20px;
    width: 300px;
    position: relative;
    left: 200px;
    font-size: 20;
    font-family: 'Exo 2',sans-serif ; 
    font-weight: bold;
}

.seat-row{
    display: flex;
   justify-content: center;
}
.seat{
    width: 30px;
    height: 30px;
    background-color: #D8D8D8;
    margin: 2px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.row-name{
    width: 30px;
    height: 30px;
    margin: 2px;
    position: relative;
    text-align: center;
}

.row-name p{
    margin-top: 3px;
    font-size: 16;
    font-weight: bold;
}

.space{
    width: 30px;
    height: 30px;
    margin: 2px;
}

.line{
    height: 0.5px;
    background-color: #D8D8D8;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.choose-box-1{
    width: 30px;
    height: 30px;
    background-color: #D8D8D8;
    margin: 2px;
    margin-left: 100px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.choose-box-2{
    width: 30px;
    height: 30px;
    background-color: #00b300;
    box-shadow: 0px 0px 11px #00b300;
    margin: 2px;
    margin-left: 100px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.choose-box-3{
    width: 30px;
    height: 30px;
    background-color: #D61023;
    margin: 2px;
    margin-left: 100px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.choose-container{
    display: flex;
    justify-content: center;
}

.choose{
    height: 70px;
}

.choose ul li{
    margin-right: 200px;
    align-items: center;
}

.choose ul li p{
    margin-left: 40px;
    margin-right: 40px;
    height: 30px;
    position: absolute;
    top: 6px;
    width: 100px;
}



#seat-3{
    background-color: #D61023;
}

.button{
    margin-bottom: 100px;
}
.button1{
    border-radius: 25px;
    line-height: 50px;
    height: 50px;
    display: block;
    width: 100% ;
    margin: auto;
    margin-top: 50px;
    background: rgb(255, 255, 255);  
    max-width: 350px;
}

.button p {
    color:rgb(0, 0, 0);
    text-align: center;
    height: 50px;
    width: 100%;
    font-weight: bold;
}

/* Seat */


/*footer */
a:link{ 
    color: white;
 }

.foot-content {
    font-family:'Exo 2',sans-serif ;
    padding-top:20px;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.foot-content h3 {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    line-height: 3rem;
    padding-bottom: 1px;
}

.foot-content p {
    font-size: 9.5px;
    color: white;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2em;
}

.foot-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1px   0;
}

.foot-icons li {
    margin: 0 10px;
}

.foot-icons a i{
    font-size:1.1rem;
}

.foot-icons a:hover i {
    color:aqua;
}

.foot-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    font-size: 13px;
}

.foot-links li a {
    margin: 5px;
}

.foot-links li a:hover {
    color:aqua;
}
.foot-bottom p {
    font-size: 14px;
    width: 1263.33px;
    word-spacing: 2px;
    text-transform: capitalize;
    background-color: #151515;
    padding: 8px 0;
}
/*footer */
